.header {
    position: absolute;
    background-color: $backgroundColor;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;

    .content {
        width: 200vw;
        height: 100vh;
        position: relative;
        display: flex;
        flex-direction: row;
        transform: rotate(90deg) translateY(-100vh);
        transform-origin: top left;

        p {
            margin: 0 auto;
            color: $bigText;
            position: absolute;
            top: 50%;
            transform: translate(0%, -50%);
            font-size: 75px;
            font-family: "Nostra";
            width: 100vw;
            mix-blend-mode: difference;
        }

        .slide {
            width: 100%;
            height: 100%;
        }

        .illustrations p {
            margin-left: 50px;    
        }

        .ill {
            img {
                // height: 100px;
                width: 260px;
            }
        }

        .girlOne {
            // position: relative;
            margin-top: 70px;
            margin-left: 100px;
        }

        .girlTwo {
            margin-top: -70px;
            margin-left: 500px;
        }

        .girlThree {
            margin-top: -500px;
            margin-left: 900px;    
        }

        .design p {
            color: rgba(22, 20, 56, 0.70);
            margin-left: -140px;
            margin-right: 0;
        }
    }

    +below(600px) {
        // justify-content: flex-start;
        .content {
            // width: 100%;
            // height: 500px;
            // background-color: pink;
        }
    }
}

.nav {
    position: fixed;
    bottom: 0;
    right: 0;
    transform: scale(0.75);
}

.nav .aboutMe {
    color: $navColor;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    position: fixed;
    // bottom: 45px;
    // right: 34px;
    transform: translate(60%, -240%);
}